

.testimoial , .contact{
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    
}

.testimoial i{
    font-size: 30px;
    color: #0078ff;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}
